# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# mishmash
*~
*.png
*.csv
*.gz

# OpenFOAM wmake Files
*.dep
lnInclude/
linux64GccDPOpt/
linux64GccDPDebug/
